*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 44em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #fafafa;
}

.main-container {
  max-width: 144rem;
  margin: 10rem auto;
  padding: 0 4rem;
}
@media only screen and (max-width: 34em) {
  .main-container {
    margin-top: 7rem;
    padding: 0 3.2rem;
  }
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__heading--thin, .card__heading--bold {
  font-size: 4rem;
  color: #4c4e61;
}
@media screen and (max-width: 34em) {
  .card__heading--thin, .card__heading--bold {
    font-size: 3.2rem;
  }
}
.card__heading--thin {
  font-weight: 200;
}
.card__heading--bold {
  font-weight: 600;
  line-height: 1.7;
}
@media screen and (max-width: 75em) {
  .card__heading--bold {
    line-height: 1.5;
  }
}
.card__header--info {
  font-size: 1.8rem;
  color: #a3a5ae;
  margin-top: 1.6rem;
  line-height: 1.5;
  width: 48%;
}
@media screen and (max-width: 75em) {
  .card__header--info {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 60em) {
  .card__header--info {
    width: 65%;
  }
}
@media screen and (max-width: 34em) {
  .card__header--info {
    width: 100%;
  }
}

.card__card--section {
  margin-top: 6.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "  .   team   ." "visor team  calc" "visor karma calc" "  .   karma  .";
  gap: 3.2rem;
}
@media screen and (max-width: 75em) {
  .card__card--section {
    margin-top: 5rem;
    gap: 2.8rem;
  }
}
@media screen and (max-width: 60em) {
  .card__card--section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "visor ." "visor team" "karma team" "karma calc" ".     calc";
  }
}
@media screen and (max-width: 44em) {
  .card__card--section {
    padding: 0 6.4rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "visor visor  visor visor visor ." " . team team team team team " " karma karma karma karma karma ." ". calc calc calc calc calc";
  }
}
@media screen and (max-width: 34em) {
  .card__card--section {
    margin-top: 3.2rem;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: "visor" "team" "karma" "calc";
  }
}
@media screen and (max-width: 24em) {
  .card__card--section {
    padding: 0;
  }
}
.card__card--container {
  background-color: #fff;
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}
@media screen and (max-width: 75em) {
  .card__card--container {
    gap: 4rem;
    padding: 2.4rem;
  }
}
@media screen and (max-width: 34em) {
  .card__card--container {
    gap: 5rem;
  }
}
.card__card--container__supervisor {
  border-top: 0.5rem solid #45d3d3;
  grid-area: visor;
}
.card__card--container__team {
  border-top: 0.5rem solid #ea5353;
  grid-area: team;
}
.card__card--container__calc {
  border-top: 0.5rem solid #549ef2;
  grid-area: calc;
}
.card__card--container__karma {
  border-top: 0.5rem solid #fcaf4a;
  grid-area: karma;
}
.card__card--header {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
@media screen and (max-width: 75em) {
  .card__card--header {
    gap: 1.2rem;
  }
}
.card__card--heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #4c4e61;
}
.card__card--para {
  font-size: 1.4rem;
  color: #a3a5ae;
  line-height: 1.4;
}
@media screen and (max-width: 75em) {
  .card__card--para {
    line-height: 1.3;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 44em) {
  .card__card--para {
    font-size: 1.4rem;
  }
}
.card__card--footer {
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
