// Color Variables
$color-primary-red: #ea5353;
$color-primary-cyan: #45d3d3;
$color-primary-orange: #fcaf4a;
$color-primary-blue: #549ef2;

$color-neutral-dark-blue: #4c4e61;
$color-neutral-gray-blue: #a3a5ae;
$color-neutral-light-gray: #fafafa;

$color-white: #fff;

// Font Variables
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-extra-light: 200;

// Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 60em; // 960px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  background-color: $color-neutral-light-gray;
}

.main-container {
  max-width: 144rem;
  margin: 10rem auto;
  padding: 0 4rem;
}

// Header
.card {
  &__header {
    text-align: center;
  }

  &__heading--thin {
    font-size: 4rem;
    font-weight: $font-extra-light;
    color: $color-neutral-dark-blue;
  }

  &__heading--bold {
    font-weight: $font-semibold;
    font-size: 4rem;
    line-height: 1.7;
    color: $color-neutral-dark-blue;

    @media screen and (max-width: $bp-largest) {
      line-height: 1.5;
    }
  }

  &__header--info {
    font-size: 1.8rem;
    color: $color-neutral-gray-blue;
    margin-top: 1.6rem;
    line-height: 1.5;

    @media screen and (max-width: $bp-largest) {
      margin-top: 1.4rem;
      font-size: 1.6rem;
    }
  }
}

// Card
.card__card {
  &--section {
    margin-top: 6.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      '  .   team   .'
      'visor team  calc'
      'visor karma calc'
      '  .   karma  .';

    gap: 3.2rem;

    @media screen and (max-width: $bp-largest) {
      margin-top: 5rem;
      gap: 2.8rem;
    }

    @media screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'visor .'
        'visor team'
        'karma team'
        'karma calc'
        '.     calc';
    }
  }

  &--container {
    background-color: $color-white;
    box-shadow: 1px 5px 10px 2px rgb(0 0 0 / 5%);
    border-radius: 5px;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 5.2rem;

    @media screen and (max-width: $bp-largest) {
      gap: 4rem;
      padding: 2.4rem;
    }
  }

  &--container__supervisor {
    border-top: 0.5rem solid $color-primary-cyan;
    grid-area: visor;
  }

  &--container__team {
    border-top: 0.5rem solid $color-primary-red;
    grid-area: team;
  }

  &--container__calc {
    border-top: 0.5rem solid $color-primary-blue;
    grid-area: calc;
  }

  &--container__karma {
    border-top: 0.5rem solid $color-primary-orange;
    grid-area: karma;
  }

  &--header {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    @media screen and (max-width: $bp-largest) {
      gap: 1.2rem;
    }
  }

  &--heading {
    font-size: 2.2rem;
    font-weight: $font-semibold;
    color: $color-neutral-dark-blue;
  }

  &--para {
    font-size: 1.4rem;
    color: $color-neutral-gray-blue;
    line-height: 1.4;

    @media screen and (max-width: $bp-largest) {
      line-height: 1.3;
      font-size: 1.3rem;
    }
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
  }
}
